body, html {
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}



button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
