body{
    background-color: aqua;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 150px;
    line-height: 10px;
    
}
#botao {
    position: absolute;
    top: 550px; /* Distância do topo */
    left: 800px; /* Distância da esquerda */
}

#Sim {
    position: absolute;
    top: 550px; /* Distância do topo */
    left: 1000px; /* Distância da esquerda */
}